﻿@model IEnumerable<receptu_puslapis.Models.Recipe>
@{
    ViewBag.Title = "All recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Recipe list
</h2>

<div class="container">
    <div class="col-md-4">
        <a href="~/Recipes/CreateRecipeView" class="btn btn-primary" role="button">Create recipe</a>
        @if (Request.IsAuthenticated && (User.IsInRole("Moderator") || User.IsInRole("Admin")))
        {
            <a href="~/Recipes/ViewNewRecipes" class="btn btn-primary" role="button">
                View new recipes

                @if ((int)TempData["new_recipes"] > 0)
                {
                    <span class="badge">@TempData["new_recipes"]</span>
                }
            </a>
        }
    </div>

    <form action="" class="navbar-form navbar-right">
        <div class="input-group">
            <input type="Search" placeholder="Search..." class="form-control" />
            <div class="input-group-btn">
                <button class="btn btn-info">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </form>
</div>

@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <strong>@TempData["success"]</strong>
    </div>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <h4>
                <strong>Title: </strong>@item.title
                @if ((DateTime.Now - item.approvedDate).TotalDays < 1.0)
                {
                    <span class="label label-default">New</span>
                }
            </h4>
            <p><strong>Uploaded: </strong>@item.uploadDate</p>
            <p><strong>Description: </strong>@item.description.Substring(0, item.description.Length > 100 ? 100 : item.description.Length)...</p>
            <a href="~/Recipes/ViewRecipe/@item.id" role="button">Check recipe</a>
        </div>
    }
</div>
