@model  receptu_puslapis.Models.TestData01
@{
    ViewBag.Title = "Create recipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .top-buffer {
        margin-top: 5px;
    }
</style>

<h2>Create recipe</h2>

@using (Html.BeginForm())
{
    <h4>Title</h4>
    <input type="text" class="form-control" name="title" required />
    <h4>Description</h4>
    <textarea class="form-control" rows="6" cols="80" name="description" required></textarea>
    <h4>Preparation time</h4>
    <input type="text" class="form-control" name="prepTime" required />
    <h4>Difficulty</h4>
    @Html.EnumDropDownListFor(x => x.difficulty, new { @class = "form-control" })

    <h4>Check ingredients</h4>
    <div>
        @foreach (var item in Model.ingredients)
        {
            <div class="checkbox">
                <label>
                    <input name="ingredients" type="checkbox" value="@item.name">
                    @item.name
                </label>
            </div>
        }
    </div>

    <input type="submit" class="top-buffer btn btn-default" value="Create" />
}
