@model receptu_puslapis.Models.ViewRecipeModel
@{
    ViewBag.Title = Model.recipe.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .space-margin {
        margin-top: 10px;
    }
</style>

@if (TempData["wants_to_edit"] != null && (bool)TempData["wants_to_edit"] == true)
{
    <h1>Title: <input type="text" class="form-control" name="title" value="@Model.recipe.title" /></h1>
    <h4>Description:</h4>
    <p><textarea class="form-control" rows="6" cols="80" name="description">@Model.recipe.description</textarea></p>
    <h4>Preparation time:</h4>
    <p><input type="text" class="form-control" name="prepTime" value="@Model.recipe.prepTime" /></p>
    <h4>Difficulty:</h4>
    @Html.EnumDropDownListFor(x => x.recipe.difficulty, new { @class = "form-control" })
    <h4>Ingredients:</h4>
    <div class="row">
        <ul class="list-group">
            @foreach (var ing in Model.recipe.Ingredients)
            {
                <li class="col-xs-3 list-group-item">
                    @ing.name
                </li>
            }
        </ul>
    </div>
    if (TempData["state"] != null)
    {
        if ((User.IsInRole("Moderator") || User.IsInRole("Admin")))
        {
            <form method="post" action="~/Recipes/ChangeRecipeState">
                <input hidden value="@Model.recipe.id" name="id" />
                <input type="submit" name="button" class="top-buffer btn btn-success" value="Approved" />
                <input type="submit" name="button" class="top-buffer btn btn-warning" value="Needs update" />
                <input type="submit" name="button" class="top-buffer btn btn-danger" value="Decline" />
            </form>
        }
    }
}
else
{
    <h1>
        @Model.recipe.title
        @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
        {
            <form method="post" action="~/Recipes/EditRecipe">
                <input hidden value="@Model.recipe.id" name="id" />
                <input type="submit" class="top-buffer btn btn-default" value="Edit" />
            </form>
        }
    </h1>

    <h4><strong>Description:</strong></h4>
    <p>@Model.recipe.description</p>
    <h4><strong>Preparation time:</strong> @Model.recipe.prepTime min.</h4>
    <h4><strong>Difficulty:</strong> @Model.recipe.difficulty</h4>
    <h4><strong>Ingredients:</strong></h4>
    <div class="row">
        <ul class="breadcrumb">
            @foreach (var ing in Model.recipe.Ingredients)
            {
                <li class="breadcrumb-item">
                    @ing.name
                </li>
            }
        </ul>
    </div>
    <h4><strong>Comments</strong></h4>
    <ul class="list-group">
        @foreach (var comment in Model.comments)
        {
            <li class="list-group-item">
                <h4 style="float: left;">
                    @Model.users.First(x => x.Id == comment.userId).UserName
                </h4>
                <h5 style="float:right;"><em>Date: @comment.commentDate</em></h5>
                <br style="clear: both;" />
                <p>@comment.text</p>
            </li>
        }
    </ul>
    <form method="post" action="~/Recipes/PostComment">
        <h4><strong>Write comment:</strong></h4>
        <textarea class="form-control" rows="2" cols="80" name="comment" required></textarea>
        <input hidden value="@Model.recipe.id" name="id" />
        <input type="submit" class="top-buffer btn btn-success space-margin" value="Comment" />
    </form>
    if (TempData["comment_type"] != null)
    {
        if (TempData["comment_type"].ToString().Contains("Recipes") == true)
        {
            <div class="alert alert-success space-margin">
                Comment type is: <strong>@TempData["comment_type"]</strong>
            </div>
        }
        else if (TempData["comment_type"].ToString().Contains("Not enough") == true)
        {
            <div class="alert alert-warning space-margin">
                Comment type is: <strong>@TempData["comment_type"]</strong>
            </div>
        }
        else
        {
            <div class="alert alert-danger space-margin">
                Comment type is: <strong>@TempData["comment_type"]</strong>
            </div>
        }
    }
    <h4><strong>Recipe rating:</strong> @string.Format("{0:0.00}", Model.rating)</h4>
    <form method="post" action="~/Recipes/PostRating">
        <h4><strong>Rate recipe:</strong></h4>
        <input hidden value="@Model.recipe.id" name="id" />
        <input type="submit" name="rate" class="top-buffer btn btn-default" value="1" />
        <input type="submit" name="rate" class="top-buffer btn btn-default" value="2" />
        <input type="submit" name="rate" class="top-buffer btn btn-default" value="3" />
        <input type="submit" name="rate" class="top-buffer btn btn-default" value="4" />
        <input type="submit" name="rate" class="top-buffer btn btn-default" value="5" />
    </form>
}
