﻿@model IEnumerable<receptu_puslapis.Models.Recipe>
@{
    ViewBag.Title = "New Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New recipes</h2>

<div class="row">
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="col-md-4">
                <h4>
                    <strong>Title: </strong>@item.title
                    @if ((DateTime.Now - item.approvedDate).TotalDays < 1.0)
                    {
                        <span class="label label-default">New</span>
                    }
                </h4>
                <p><strong>Uploaded: </strong>@item.uploadDate</p>
                <p><strong>Description: </strong>@item.description.Substring(0, item.description.Length > 100 ? 100 : item.description.Length)...</p>
                <p><strong>Status: </strong>@item.state</p>

                <form method="post" action="~/Recipes/EditRecipe">
                    <input hidden value="@item.id" name="id" />
                    <input hidden value="state" name="state" />
                    <input type="submit" class="top-buffer btn btn-default" value="Check recipe" />
                </form>
            </div>
        }
    }
    else
    {
        <h4>There's no new recipes.</h4>
    }
</div>
