﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="~/">Gurmans</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="~/Recipes/AllRecipes">Recipes</a></li>
					@if (Request.IsAuthenticated)
					{
						<li><a href="~/Ingredients/">Ingredients</a></li>
					}
					<li><a href="~/Contact">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					@if (Request.IsAuthenticated)
					{
						<li><a href="~/Account/Manage" title="Manage your account">Hello, @HttpContext.Current.User.Identity.Name!</a></li>
						<li><a href="~/" title="Log off">Log Off</a></li>
					}
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Recipes sharing site</p>
		</footer>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>