﻿<%@ Page Title="Contact" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Contact.aspx.cs" Inherits="receptu_puslapis.Contact" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Gurmanai</h2>
    <h3>Tinklapį atliko:</h3>
    <ul>
        <li>
            Aleksas Golubevas
        </li>
        <li>
            Gabrielius Tiknius
        </li>
        <li>
            Gytis Venckus
        </li>
    </ul>
</asp:Content>
