﻿@model IEnumerable<receptu_puslapis.Models.Ingredient>
@{
    ViewBag.Title = "All ingredients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Ingredients list
    <a role="button" class="btn btn-primary" href="~/Ingredients/SuggestNewIngredient">
        Suggest ingredient
    </a>
    @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
    {
        <a href="~/Ingredients/ViewNewIngredients" class="btn btn-primary" role="button">
            View new Ingredients
            @if ((int)TempData["new_ingredients"] > 0)
            {
                <span class="badge">@TempData["new_ingredients"]</span>
            }
        </a>
    }
</h2>

<div class="row">
    <ul>
        @foreach (var item in Model)
        {
            <li><h4>@item.name</h4></li>
        }
    </ul>
</div>

