@model receptu_puslapis.Models.Ingredient
@{
    ViewBag.Title = "Suggest ingredient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .make-margin {
        margin: 10px 0px;
    }
</style>

<h2>Add Ingredient</h2>

@using (Html.BeginForm())
{
    <input type="text" class="form-control" name="ingredient" placeholder="Enter ingredient name, e.g., Carrot, Pear" required maxlength="20" />
    <input class="make-margin btn btn-default" type="submit" value="Suggest" title="Suggest ingredient">
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @TempData["error"]
    </div>
}
else if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["success"]
    </div>
}
