﻿@model IEnumerable<receptu_puslapis.Models.Ingredient>
@{
    ViewBag.Title = "All new ingredients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    New ingredients
</h2>


<div class="row">
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="col-md-4">
                <h4><strong>Name: </strong>@item.name</h4>
                <p><strong>Number of times mentioned: </strong>@item.numberOfTimesUsed</p>
                <form method="post" action="~/Ingredients/ChangeState">
                    <input hidden value="@item.id" name="id" />
                    <input name="button" type="submit" class="top-buffer btn btn-success" value="Approve" />
                    <input name="button" type="submit" class="top-buffer btn btn-danger" value="Decline" />
                </form>
            </div>
        }
    }
    else
    {
        <h4>There's no new ingredents.</h4>
    }
</div>


